---
import Technologies from "./Technologies.astro";
---

<section
  class="relative w-full max-w-screen-2xl h-[85vh] flex flex-col justify-center gap-16 pt-16 scrollspy"
  id="about"
>
  <h2
    class="text-transparent bg-clip-text bg-gradient-to-r from-scooter-400 to-scooter-500 uppercase text-5xl font-bold"
  >
    Sobre mí
  </h2>
  <article class="flex flex-col gap-4">
    <p class="text-white text-2xl font-semibold">
      Soy Luciano Repetti, resido en San Carlos de bariloche, soy desarrollador
      web frontend y estudiante en la carrera de Ing. En Computación. Soy un
      apasionado por la tecnologia y la programación, creando sistemas
      intuitivos, como también cuidando la experiencia de usuario.
    </p>
    <p class="text-white text-2xl font-semibold">
      Me gusta darle detalles a mis desarrollos e involucrarme a fondo con el
      diseño y el sentido que se le quiere transmitir al usuario.
    </p>
  </article>
  <Technologies />
</section>
