---
import Technologies from "./Technologies.astro";
---

<section
  class="relative px-4 w-full max-w-screen-2xl lg:h-[85vh] flex flex-col lg:justify-center gap-8 lg:gap-16 lg:pt-16 scrollspy"
  id="about"
>
  <h2
    class="text-transparent bg-clip-text bg-gradient-to-r from-scooter-400 to-scooter-500 uppercase text-3xl lg:text-5xl font-bold"
  >
    Sobre mí
  </h2>
  <article class="w-full flex flex-col gap-4">
    <p class="text-white text-lg lg:text-2xl font-semibold">
      Soy Luciano Repetti, resido en San Carlos de Bariloche, soy desarrollador
      web frontend y estudiante en la carrera de Ing. En Computación. Soy un
      apasionado por la tecnologia y la programación, creando sistemas
      intuitivos, como también cuidando la experiencia de usuario.
    </p>
    <p class="text-white text-lg lg:text-2xl font-semibold">
      Me gusta darle detalles a mis desarrollos e involucrarme a fondo con el
      diseño y el sentido que se le quiere transmitir al usuario.
    </p>
  </article>
  <Technologies />
</section>
