---
import LightShine from "./light_shine/LightShine.astro";
---

<div class="absolute top-0 -right-40 bg-white">
  <LightShine top="top-10" right="right-0" background="bg-sky-500" />
  <LightShine top="top-40" right="right-28" background="bg-purple-500" />
</div>
<LightShine bottom="bottom-16" left="left-0" background="bg-indigo-500" />
