<header
  class="w-full h-[5vh] sticky z-50 top-0 flex items-center justify-center py-8"
>
  <nav id="nav-link">
    <ul class="flex gap-10 text-base lg:text-xl">
      <li class="font-semibold">
        <a href="#" class="hover:text-scooter-400 menu-item">Inicio</a>
      </li>
      <li class="font-semibold">
        <a href="#about" class="hover:text-scooter-400 menu-item">Sobre mi</a>
      </li>
      <li class="font-semibold">
        <a href="#projects" class="hover:text-scooter-400 menu-item"
          >Proyectos</a
        >
      </li>
      <li class="font-semibold">
        <a href="#contact" class="hover:text-scooter-400 menu-item">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

<style is:global>
  header {
    color: #fff;
    animation: change-bg linear both;
    animation-timeline: scroll(root);
    animation-range: 0 400px;
  }

  @keyframes change-bg {
    to {
      background-color: rgb(4, 13, 33);
    }
  }
</style>
