---
import BackgroundStar from "./BackgroundHero.astro";
import RRSS from "./RRSS.astro";
import ArrowDown from "../icons/ArrowDown.astro";
---

<main
  class="relative w-full max-w-screen-xl h-[95svh] lg:h-[95vh] flex flex-col lg:pt-0 lg:justify-center lg:pb-40 text-white scrollspy"
  id=""
>
  <BackgroundStar />

  <article
    class="px-4 lg:px-0 lg:mt-10 abolsute z-10 flex flex-col lg:flex-row gap-8 justify-center items-center scrollspy"
  >
    <div class="flex justify-center">
      <img
        class="rounded-full w-[350px]"
        src="/images/mi-imagen.jpeg"
        alt="Imagen de Luciano Repetti"
      />
    </div>
    <section class="flex gap-3 flex-col">
      <p class="text-2xl lg:text-3xl font-bold">¡Hola! Mi nombre es</p>
      <h1
        class="text-transparent bg-clip-text bg-gradient-to-r from-scooter-400 to-scooter-500 uppercase text-4xl lg:text-6xl font-bold"
      >
        Luciano Repetti
      </h1>
      <h2 class="uppercase text-xl lg:text-3xl font-bold">
        desarrollador web frontend
      </h2>
      <RRSS />
    </section>
  </article>

  <div class="w-full hidden flex-col items-center lg:flex">
    <div
      class="absolute bottom-36 lg:bottom-24 flex flex-col items-center animate-bounce cursor-pointer"
      id="scrollToAbout"
    >
      <ArrowDown width="50" heigth="50" />
      <div class="absolute top-6">
        <ArrowDown width="46" heigth="46" />
      </div>
    </div>
  </div>
</main>

<style>
  @keyframes twinkle {
    0%,
    100% {
      transform: translateY(100%) translateX(0);
    }
    25% {
      transform: translateY(75%) translateX(10%);
    }
    50% {
      transform: translateY(50%) translateX(20%);
    }
    75% {
      transform: translateY(25%) translateX(30%);
    }
  }

  .twinkle {
    animation: twinkle 7s ease-in-out infinite;
  }
</style>

<script>
  const scrollToAbout = document.getElementById("scrollToAbout");

  scrollToAbout?.addEventListener("click", () => {
    window.location.hash = ""; // para que pueda volver a bajar a "#about"
    window.location.hash = "about";
  });
</script>
