---
import CardProyect from "./CardProyect.astro";
---

<section
  class="w-full px-4 lg:px-0 max-w-screen-2xl min-h-[95vh] pt-16 scrollspy"
  id="projects"
>
  <h2
    class="text-transparent bg-clip-text bg-gradient-to-r from-scooter-400 to-scooter-500 uppercase text-3xl lg:text-5xl font-bold mb-16"
  >
    Mis proyectos
  </h2>

  <section class="w-full flex gap-8 justify-center flex-wrap">
    <CardProyect
      title="Uniandes"
      description="Una plataforma de creacion de curriculum con diseños preestablecidos para alumnos de la universidad de los andes."
      image="/images/inicio-uniandes.png"
      link="https://create-cv-uniandes.vercel.app/login"
      technologies={["HTML5", "CSS3", "JavaScript", "React"]}
    />
    <CardProyect
      title="Tienda Carpi"
      description="Un eccomerce de productos de revestimiento y de diferentes tipos de superficies de alta calidad. Para usuarios finales y empresas de reventa."
      image="/images/inicio-carpi.png"
      link="https://tienda.carpiargentina.com"
      technologies={["HTML5", "SASS", "TypeScript", "NextJS", "React"]}
    />
    <CardProyect
      title="Dashboard Carpi"
      description="Un dashboard para la administración de los usuarios, empresas de reventa, productos, lineas, configuraciones y administración de permisos para usuarios del ecommerce."
      image="/images/dashboard-carpi.png"
      technologies={["HTML5", "CSS3", "JavaScript", "React", "Berry", "MUI"]}
    />
    <CardProyect
      title="Download media"
      description="Un sitio que cree para la descarga de mp3 y mp4 ya sea de baja o alta calidad."
      image="/images/inicio-media.png"
      link="https://down-media.vercel.app"
      technologies={[
        "HTML5",
        "CSS3",
        "TypeScript",
        "React",
        "NextJS",
        "NextUI",
        "NextAPI",
        "TailwindCSS",
      ]}
    />
    <CardProyect
      title="Shortly"
      description="Una landing page donde se pueden acortar links y se guarda en el almacenamiento del navegador."
      image="/images/inicio-shortly.png"
      link="https://url-shortening-sigma.vercel.app"
      technologies={[
        "HTML5",
        "CSS3",
        "TypeScript",
        "React",
        "Vite",
        "TailwindCSS",
      ]}
    />
    <CardProyect
      title="Ad Events"
      description="Un sitio web que cree para la capacitación de mentor para MindHub + Argentina programa 4.0 donde participe."
      image="/images/inicio-adeventsMentor.png"
      link="https://luciano-repetti.github.io/Amazing-Events-mentor/index.html"
      technologies={["HTML5", "CSS3", "JavaScript"]}
    />
    <CardProyect
      title="Lunatura"
      description="Un sitio web que cree para la enseñanza de conceptos de query por url para alumnos de MH + AP 4.0."
      image="/images/inicio-lunatura.png"
      link="https://luciano-repetti.github.io/LuNature"
      technologies={["HTML5", "CSS3", "JavaScript"]}
    />
    <CardProyect
      title="Tangie sushi"
      description="Una pagina web que cree para alentar a un potencial cliente a cambiar la UI de su web."
      image="/public/images/inicio-tangie.png"
      link="https://tangiesushi.vercel.app"
      technologies={["HTML5", "CSS3", "JavaScript"]}
    />
    <CardProyect
      title="Huddle"
      description="Una Landing page de un desafío de frontend mentor."
      image="/images/inicio-huddle.png"
      link="https://luciano-repetti.github.io/huddleLandingPage"
      technologies={["HTML5", "CSS3"]}
    />
  </section>
</section>
