<article class="text-white flex gap-4">
  <div class="rounded-3xl font-semibold bg-yellow-400 px-4 py-2">#HTML5</div>
  <div class="rounded-3xl font-semibold bg-blue-500 px-4 py-2">#CSS3</div>
  <div class="rounded-3xl font-semibold bg-amber-400 px-4 py-2">
    #JavaScript
  </div>
  <div class="rounded-3xl font-semibold bg-sky-500 px-4 py-2">#TypeScript</div>
  <div class="rounded-3xl font-semibold bg-emerald-400 px-4 py-2">#NodeJS</div>
  <div class="rounded-3xl font-semibold bg-cyan-400 px-4 py-2">#React</div>
  <div class="rounded-3xl font-semibold bg-slate-800 px-4 py-2">#Next</div>
  <div class="rounded-3xl font-semibold bg-violet-600 px-4 py-2">#Astro</div>
  <div class="rounded-3xl font-semibold bg-purple-500 px-4 py-2">#Vite</div>
</article>
