---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id="main-menu">
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    min-height: 100svh;
    /* height: 100svh; */
    overflow-x: hidden;
    background-color: rgb(4, 13, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/simple-scrollspy/2.4.1/simple-scrollspy.min.js"
  integrity="sha512-NNb5TgmE+7PHedvAWwPKZ/ukCGJciTHZ23ghPriEeEfcGySDBm9zIrjaXp/WNAUcVYhi5XhJ1rHveDKR35CInw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<script is:inline>
  window.onload = function () {
    scrollSpy("#main-menu", {
      sectionClass: ".scrollspy",
      activeClass: "text-scooter-400",
      menuActiveTarget: ".menu-item",
      offset: 80,
    });
  };
</script>
